<md-button ng-click="sdm.toggleMenu()" class="md-raised md-primary side-menu-link">
    <md-icon ng-if="::(sdm.item.icon !== undefined)" class="side-menu-icon material-icons">{{::sdm.item.icon}}</md-icon>
    <span translate>{{::sdm.item.name}}</span>
    <md-icon class="menu-toggle-icon material-icons" ng-class="{open: sdm.item.open}">keyboard_arrow_right</md-icon>
</md-button>
<ul class="drop-down-list" ng-show="sdm.item.open">
    <li ng-repeat="child in ::sdm.item.children | orderBy:'priority'">
        <side-menu-item item="::child"></side-menu-item>
    </li>
</ul>