<div layout="row" class="full-height">
    <md-sidenav layout class="sidebar-left md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
                ng-class="lyt.menuClass()" ng-mouseover="lyt.activateHover()" ng-mouseleave="lyt.removeHover()" ui-view="sidebarLeft">
        <i>Sidenav left</i>
    </md-sidenav>
    <div id="main-panel" layout="column" flex>
        <!--<tri-loader></tri-loader> FIXME remplacer par ma directive-->
        <md-toolbar ng-attr-md-scroll-shrink="{{lyt.toolbarShrink}}" class="admin-toolbar" ng-class="lyt.toolbarTypeClass()"
                    md-theme="white-cyan" ui-view="toolbar">
            <i>Toolbar</i>
        </md-toolbar>
        <md-content flex layout="column">
            <div flex ui-view="content"><i>Content</i></div>
        </md-content>
    </div>
    <md-sidenav layout layout-fill class="md-sidenav-right md-whiteframe-z2" md-component-id="notifications" ui-view="sidebarRight">
        <i>Sidenav right</i>
    </md-sidenav>
</div>