<!--<div layout="row" class="full-height">-->
<!--<md-sidenav layout class="sidebar-left md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"-->
<!--ng-class="menuClass()" ng-mouseover="activateHover()" ng-mouseleave="removeHover()" ui-view="sidebarLeft"></md-sidenav>-->
<!--<div id="main-panel" layout="column" flex>-->
<!--<tri-loader></tri-loader>-->
<!--<md-toolbar ng-attr-md-scroll-shrink="{{toolbarShrink}}" class="admin-toolbar" ng-class="toolbarTypeClass()" ui-view="toolbar">-->
<!--</md-toolbar>-->
<!--<md-content flex layout="column">-->
<!--<div flex ui-view="content"></div>-->
<!--</md-content>-->
<!--</div>-->
<!--<md-sidenav layout layout-fill class="md-sidenav-right md-whiteframe-z2" md-component-id="notifications" ui-view="sidebarRight">-->
<!--</md-sidenav>-->
<!--</div>-->

<h1>Layout</h1>
<ui-view></ui-view>