// Main area (all except sidebarleft)
#main-panel {
  overflow: hidden;
  position: relative;
  > md-content {
    z-index: 3;
  }
}

#main-panel-content-view {
  display: block;
  position: relative;
  padding-bottom: 65px;
  min-height: calc(100vh - 64px);
  -webkit-backface-visibility: hidden;
}

// Toolbar
.main-toolbar {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  z-index: 4;
  .md-button {
    height: 48px;
  }
}