<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activation Suivi facturation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Cher <span th:text="${utilisateur.nom}"></span>,</p>

<p>Votre compte Suivi Facturation a été créé. Vous pouvez activer votre compte en cliquant sur ce
    <a th:href="@{|${baseUrl}/#/activate?key=${utilisateur.activationKey}|}">lien</a>.</p>

<p>
    <span>Cordialement,</span>
</p>
<p>
    <em>L'équipe SuiviFactu.</em>
</p>
</body>
</html>
